registry=https://nexus.habil.mx/repository/npm-group/
strict-ssl=false
//nexus.habil.mx/repository/npm-group/:_authToken=NpmToken.f01f0ed2-4ac2-35a2-b261-175e7652ab14
registry = "https://nexus.habil.mx/repository/npm-group/"